table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

h1 {
    text-align: center;
}

.container1 {
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
}
.container2 {
    display: flex;


}
.container3 {
    margin: 40px;

}

.col-8 {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
}

#coffees {
    margin-right: 0px;

}

.col-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coffee {
    margin: auto;
    width: 50%;
    justify-content: center;


}
.coffee p {
    text-align: center;
}
h2 {
    text-align: center;
}

hr {
    margin-top: 25px;
}
